name: Cleanup old container images
on:
  workflow_dispatch:     # allow manual trigger

jobs:
  cleanup:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Delete old package versions
        uses: actions/delete-package-versions@v5
        with:
          package-name: prometheus2mqtt
          package-type: container
          min-versions-to-keep: 5
          delete-older-than: 30d
